<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supplier</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<h1> Input window</h1>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <div class="alert alert-primary" th:text="${response.message}">
                </div>
                <tr class="table-dark">
                    <th><strong>Code</strong></th>
                    <th><strong>Facture number</strong></th>
                    <th><strong>Warehouse</strong></th>
                    <th><strong>Supplier</strong></th>
                    <th><strong>Currency</strong></th>
                    <th><strong>Date</strong></th>
                    <th>Operations</th>
                </tr>
                <tr th:each="input:${inputList}">
                    <td th:text="${input.code}"></td>
                    <td th:text="${input.factureNumber}"></td>
                    <td th:text="${input.warehouse.name}"></td>
                    <td th:text="${input.supplier.name}"></td>
                    <td th:text="${input.currency.name}"></td>
                    <td th:text="${input.date}"></td>
                    <td>
                        <a th:href = "@{/input/edit/{id}(id=${input.id})}"
                           class = "btn btn-primary">Edit</a>

                        <a th:href = "@{/input/delete/{id}(id=${input.id})}"
                           class = "btn btn-danger">Delete</a>
                    </td>
                </tr>

            </table>
        </div>

        <div class="col-md-4 text-center mt-5">
            <form th:action="@{/input/add}" method="get" >
                <button type="submit" class="btn btn-primary w-100" name="Add input">Add input</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>